
.card-image {
    max-width:100%;
    height:auto;
}

    .card-image img {
        max-width:100%;
        height:auto;
        object-fit:contain
    }




.elevate-on-hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.text-decoration-none {
    text-decoration:none !important;
}