@page "/"

<PageTitle>Index</PageTitle>
<MudText class="my-5" Typo="Typo.h5">Cars Available</MudText>
<MudCard Class="border-solid borderr-1 rounded" width="33.33%">
    <div class="container-fluid card-image mt-2">
    <img
         class="object-fit-contain border rounded mt-3" 
         src="
         https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/model_choose/2023/huracan_sterrato_m.png
         "/>
    </div>
    <MudCardContent>
        <div class="d-flex align-items-center justify-space-between">
        <MudText Typo="Typo.h5">Car Name</MudText>
            <div>
                <span>Rs.</span>
                <span class="fw-bold fs-5">2000</span>
                <span class="fs-6 text-secondary">/ DAY</span>
            </div>
        </div>
        <div Class="d-flex">
        <MudText class="mt-4" Typo="Typo.body2">This is a test compoenet craeted for cars.</MudText>
        </div>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Book Now</MudButton>
    </MudCardActions>
</MudCard>

