<MudNavMenu>
    <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Primary" Class="pa-2">
        <MudNavLink Href="/" Class="text-decoration-none" Icon="@Icons.Material.Filled.Dashboard">
            <span class="text-decoration-none">

                Dashboard
            </span>
        </MudNavLink>

        <MudNavLink Style="text-decoration:none" Href="/login" Class="text-decoration-none" Icon="@Icons.Material.Filled.Login">
            <span class="text-decoration-none">

                Login
            </span>
        </MudNavLink>
    </MudNavMenu>
</MudNavMenu>

