<MudNavMenu>
    <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Primary" Class="pa-2">
        <MudNavLink Style="text-decoration:none" Href="/" Class="text-decoration-none" Icon="@Icons.Material.Filled.Dashboard">
            <span class="text-decoration-none">

            Dashboard
            </span>
        </MudNavLink>
    </MudNavMenu>
</MudNavMenu>

