<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
            <div class="d-flex text-start">
                    <MudLink Href="/" Class="mt-5 text-primary" Typo="Typo.body2">Back to Dashboard</MudLink>
                </div>
        </LayoutView>
    </NotFound>
</Router>
